*{ /* para todos os elementos da pagina */
    box-sizing: border-box; /* width será a soma do conteúdo com a borda e o padding. */
}


body{
    margin: 0px;
}

fieldset{
    margin-bottom: 20px;
    border: 2px solid darkred;
    background-color: #eee;
}

legend{
    background-color: darkred;
    color: white;
}