*{ /* para todos os elementos da pagina */
    box-sizing: border-box; /* width será a soma do conteúdo com a borda e o padding. */
}


body{
    margin: 0px;
}

.container{
    color: red;
    background-color: gray;

    /* unidades de medidas absolutas: px, pt, in, cm, mm */
    width: 300px;
    height: 300pt;
}