*{
    box-sizing: border-box;

}

body{
    margin: 50px;
    font-size: 17px;
}

p{
    color: blue;
    font-size: 30px;
    font-weight: bold;
    font-family: Helvetica, Arial, 'Comic Sans MS'; /* caso n tenha a helvetica no pc, subtstitui com a proxima fonte && em aspas caso fonte tenha +1 palavra*/
    text-align: left;
    word-spacing: 20px; /* espacamento entre palavras */
    line-height: 30px /* espacamento entre linhas */;
    text-shadow: 1px 1px 3px red;
    /* text-transform: capitalize;
    text-transform: lowercase; */
}
h1{
    font-family: 'Indie Flower', cursive;
}
a{
    text-decoration: none;    
}

a:hover{
    text-decoration: underline;
}
a:visited{
    color: inherit;
}
p#font{
    font-family: 'Chilanka', cursive;
}