.vermelho{

    background-color: red;
    color: white;
}

.azul{

    background-color: blue;
    color: white;
}

.verde{
    background-color: green;
    color: black;
}

#telefone {
    display: none;
}