*{ /* para todos os elementos da pagina */
    box-sizing: border-box; /* width será a soma do conteúdo com a borda e o padding. */
}


body{
    margin: 0px;
}

label{
    display: block; /* 1 embaixo do outro */
    margin-top: 20px;
}

input[type=text],textarea{
     padding: 10px;
     width: 500px;
     font-size: 15px;
     border: 1px solid gray;
     outline: 0; /* borda qnd clica com mouse  */
     margin-top: 5px;
}

textarea{
    height: 200px;
    resize: none; /* tamanho fixo */
}

.termoslink{
    color: black;
    text-decoration: none;
}

.termoslink:hover{
    text-decoration: underline;
}

button{
    padding: 10px;
    font-size: 15px;
    border:  1px solid gray;
    background-color: #eee;
}

button:hover{
    background-color: grey;
}