*{ /* para todos os elementos da pagina */
    box-sizing: border-box; /* width será a soma do conteúdo com a borda e o padding. */
}


body{
    margin: 0px;
}

label{
    display: block; /* 1 embaixo do outro */
    margin-top: 20px;
}

input[type=text]{
     padding: 10px;
     width: 500px;
     font-size: 15px;
     border: 1px solid gray;
     outline: 0;
     margin-top: 5px;
}