*{ /* para todos os elementos da pagina */
    box-sizing: border-box; /* width será a soma do conteúdo com a borda e o padding. */
}


body{
    margin: 0px;
}

table{
    width: 600px;
   
}

table thead{
    background-color: gray;
}

th, td{
    padding: 10px;
    text-align: left;
}

table tbody {
    background-color: white;
}
th{
    font-weight: normal;
}

tbody td{ 
    border-bottom: 1px solid lightgray;
}

tbody td:hover{ /* efeito ao passar com o mouse */
    background-color: purple;
}

tbody tr:nth-child(even){ /* efeito sobre as linhas pares */
    background-color: hsla(0, 4%, 73%, 0.843);
}