*{ /* para todos os elementos da pagina */
    box-sizing: border-box; /* width será a soma do conteúdo com a borda e o padding. */
}

html{
    font-size: 10px;
}
body{
    margin: 0px;
    font-size: 20px;
}

h1{
    font-size: 2em;
}
.box{
    font-size: 2em;
    height: 400px;
    background-color: lightgray;
}
.box-interno{
    background-color: rgb(77, 77, 77);
    /* width: 10em; */    /* baseada no elemento da classe pai/superior(.box) && 1 em = 20px */
    height: 10rm; /* baseado no primeiro elemento do html */
     /* width 50%; % do espaço disponivel */
     /* width: 15ch ; é por caractere/espacos. Depende da fonte tbm */
    
}